@using BusinessObjects.Models;
@using BusinessObjects.DTO;
@using Microsoft.AspNetCore.Identity;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<AuthorDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-5 m-b-35">Quản lý tác giả</h1>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                    </div>
                    <div class="table-data__tool-right" style="margin-right: 220px">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" style="background-color: aliceblue">
                            <a href="/admin/author/addauthor"> <i class="zmdi zmdi-plus"></i>Thêm tác giả</a>
                        </button>

                    </div>
                </div>
                <div class="table-responsive table--no-card m-b-30" style="width: 900px">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên tác giả</th>
                                <th>Hoạt động</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var author in Model)
                            {
                                <tr>

                                    <td>@author.AuthorId</td>
                                    <td>@author.AuthorName</td>
                                    <td>@author.Active</td>
                                    <td>
                                        <div class="table-data-feature">

                                            <button class="item" style="margin-right: 80px" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <a asp-controller="Author" asp-action="UpdateAuthorForm" asp-route-authorId="@author.AuthorId"><i class="zmdi zmdi-edit"></i></a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>




